<footer id="footer" class="wmbt-footer mx-auto w-full max-w-container px-4 sm:px-6 lg:px-8 mt-6 md:mt-16">
  <div class="border-t py-10">
    <div class="footer-logo text-center text-5xl my-4">wmbt<span class="text-3xl">.services</span></div>
    <div class="mb-2 flex items-center justify-center space-x-4 text-3xl font-semibold leading-6">
      <a class="footer__social-media" href="/contact">
        <i class="fa-solid fa-envelope"></i>
      </a>
      <a class="footer__social-media"
        href="https://github.com/isMattCoding"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fa-brands fa-github"></i>
      </a>
      <a class="footer__social-media"
        href="https://www.linkedin.com/in/clarkm02/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
    </div>
    <p class='class="mt-5 text-center text-sm leading-6'>© 2023 WMBT Web Services by @isMattCoding. All rights reserved.</p>
    <div class="mt-2 flex items-center justify-center space-x-4 text-sm font-semibold leading-6">
      <a href="/privacy">Privacy Policy</a>
    </div>
  </div>
</footer>
